<div class="container">
	<div class="row header_Row">
		<% if user_signed_in? %>
			<div class="col-lg-6 name_Row">
				Online Painter
			</div>
			<div class="col-lg-3 login">
				<strong><%= current_user.email %></strong>
			</div>
			<div class="col-lg-2 login" id="edit" onclick="edit_Profile()">
				Edit Profile
			</div>
			<div class="col-lg-1 login" onclick="logout()" id="logout_Inner">
				<%= link_to "Logout", destroy_user_session_path, :method => :delete, :id => "logout"%>
			</div>
		<% else %>
			<div class="col-lg-10 name_Row">
				Online Painter
			</div>
			<div class="col-lg-1 login" id="sign_Up" onclick="sign_Up()">
				Sign Up
			</div>
			<div class="col-lg-1 login" id="sign_In" onclick="sign_In()">
				Login
			</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	sign_Up = function(){
		document.location.href = "/users/sign_up";
	}

	sign_In = function(){
		document.location.href = "/users/sign_in";
	}

	edit_Profile = function(){
		document.location.href = "/users/edit";
	}

	logout = function(){
		document.location.href = "/users/sign_out";
	}
</script>